<mat-toolbar class="toolbar">
  <span class="title">Article Gallery</span>
  <span class="spacer"></span>
  <div class="actions">
    <button
      mat-raised-button
      class="btn-secondary-container"
      (click)="dashboard()"
    >
      Dashboard
    </button>
    <button
      mat-raised-button
      class="btn-secondary-container"
      (click)="articles()"
    >
      Articles
    </button>
  </div>
  <button mat-mini-fab class="btn-error-container logout" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
